<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sentiment Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css" />
  <script src="main.js"></script>
</head>
<body>
  <div id="app" class="columns">
    <!-- React -->
  </div>


  <h1>{{fullname}}'s tweets</h1>
  <img src={{avatar}}></img>
  <p><strong>Amount of tweets parsing:</strong> {{ num_tweets }}</p>
  <!-- <p> <strong>Tweets:</strong> {{ tweet_array }}</p> -->
  <p> <strong>Analysis:</strong> {{analysis_array}}</p>
</body>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>
